/* Navbar */
.navbar-brand{ margin-bottom: 7px; }
.nav-index{ padding: 5px 0;
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        
    }

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
        border: 0;
        opacity: 0.8;            
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        color: #000;
    }
}

/* Header */ 
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header_bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.lead-small{ font-size:25px; text-transform: none; line-height: 2em;}
header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 22px;
    color: #333;
}
.intro-lead-in h1{ font-size: 33px; }

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {  padding-top: 200px;  padding-bottom: 200px; }

    header .intro-text .intro-lead-in {  margin-bottom: 25px; font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px; line-height: 40px;  }

    header .intro-text .intro-heading {
        margin-bottom: 50px; text-transform: uppercase; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px; font-weight: 700; line-height: 75px;  }
}

.prendrerv{ background-color: #029EB4; border: #029EB4; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #39c5da;
    color: #fff;
    background-color: #39c5da;
}

.prendrerv{ font-size: 14px; padding:7px 10px;}


/* Carte Pro */
.carte-pro{ display:block; min-height: 200px; margin-top: 2%; margin-bottom: 2%; background-color: #dde4dc; padding:15px;}
.img-circle{ margin:auto; margin-top: 20px;}
.title-smaller{ font-size: 23px;}

/* Footer */
#heart{ color:red;}
