/**/
#disponibilites{ border: 1px solid red; }

/* Footer   */
section#landing-chiffres{
  text-align: center;
  font-size:xx-large;
  color: #fff; /* IE8 proofing */
  background-color: #029EB4;
  padding: 2%;
  margin-top:3%;
  margin-bottom: 3%;
}

/** Personnalisation page médecin **/
.presentation-doc{ margin-top:25px; text-align: left; }
.info-doc{ text-align: left; margin-top: 25px; }
#plus-medecin{ font-size: large; line-height: 50px; }
#disponibilites{ background-color: rgba(255,255,255,.5); padding: 2%; margin-top:3%;}
#agenda-med td { border:1px solid #fff; padding:15px; }
#agenda-med th { border:1px solid #fff; padding:5px; text-align: center; background-color: #0c505a;}
.motif-consult{ color:#000; }
.description-pro{ text-align: left; margin-top: 2%; margin-bottom: 2%;}
#agenda-med th.disabled{ background-color: grey; border:1px solid #fff;}
#agenda-med td.disabled{ background-color: grey; border:1px solid #fff;}
.availableAppoint{ color: #000;}
.navigationArrow{ color: #000;}
.paymentway li { list-style: none; margin-top: 10px; }
.listpaiyment{ font-weight: bold;}

/*** Confirmation ***/
#confirmrv{ max-width: 500px; margin:auto; margin-top: 2%;}
#confirmrv input{ margin-top:1%; margin-bottom: 1%; }
.modal{ color: #000;} 
