body {
  background-color: #0c505a;
  color: #fff;
  padding-top: 70px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar{ margin:auto; background-color: #0c505a; border: none; }
#bs-example-navbar-collapse-1 a { color: #fff; }
.navbar-inverse .navbar-brand{ color:#fff; font-weight: 300; font-size: large;}

h1.heading{ text-align: center; font-size: 36px;}
p.lead{ text-align: center; font-size: 21px;  margin-bottom: 20px; font-weight: 300; line-height: 1.4; }

/** CONTENT **/

.form-line{ padding: 10px; color: #000;}
input{ color:#000;}

/** Index provisoire **/
.presentation-doctor{ margin-top: 2%; }

/*************/
/* Footer   */
/***********/

section#landing-chiffres{
  font-size:xx-large;
  color: white; /* IE8 proofing */
  background-color: rgba(255,255,255,.5);
  padding: 2%;
  margin-top:3%;
}


footer {  color: #fff; /* IE8 proofing */  height: 10%; }
footer a{ display: inline-block; padding:20px; color:#fff;}
.icon { margin-right:4%;}
.footer-nav{ list-style: none; width: 100%; }
.footer-nav li { display: inline; }  


/** Personnalisation page médecin **/
#plus-medecin{ font-size: large; }
#disponibilites{ background-color: rgba(255,255,255,.5); padding: 2%; margin-top:3%;}
#agenda-med td { border:1px solid #fff; padding:15px; }
#agenda-med th { border:1px solid #fff; padding:5px; text-align: center; background-color: #0c505a;}
.motif-consult{ color:#000; }
.description-pro{ text-align: left; margin-top: 2%; margin-bottom: 2%;}
#agenda-med th.disabled{ background-color: grey; border:1px solid #fff;}
#agenda-med td.disabled{ background-color: grey; border:1px solid #fff;}
.availableAppoint{ color: #000;}

/*** Confirmation ***/
#confirmrv{ max-width: 500px; margin:auto; margin-top: 2%;}
#confirmrv input{ margin-top:1%; margin-bottom: 1%; }