{% extends '../../views/layout.html' %} {% block content %}

<div class="page-content" ng-controller="cabinetCtrl">    
    <header id="header-doctor">
        <div cabinet-map cabinet="cabinet"></div>
    </header>
    <div class="container" id="info-med">
        <div class="row">
            <div id="doctors-name" class="col-lg-5">
                <h1>{{ cabinet.titre_profil }}</h1>
                <h2 id="doctors-specialities">
                        {{ cabinet.specialite_profil }}
                </h2>
            </div>
            <div id="doctors-location" class="col-lg-3">

                <div class="row">
                    <div class="col-lg-3"><img src="/img/icons/pointer.png" />
                    </div>
                    <div class="col-lg-9">
                        {{ cabinet.adresse }}
                        <br/>{{ cabinet.code_postal }} {{ cabinet.ville }}
                    </div>
                </div>

            </div>
            <div id="doctors-payment" class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3"><img src="/img/icons/euro.png" />
                    </div>
                    <div class="col-lg-9">Paiements acceptés :
                    
                    {% for paiement in cabinet.Paiements %}
                        {% if !loop.first && !loop.last %}, {% endif %}
                        {% if loop.last %} et {% endif %}
                        {{ paiement.labelPaiement }}
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="border:1px solid orange;">
            <div class="presentation-doc">
                <span>En savoir plus :</span>
                <!-- @Nicolas : texte description, est-ce prévu en bd ? -->
                <p>{{ cabinet.description_profil }}</p>
            </div>
        </div>
    </div>
    <div praticien-reservation-form cabinet="cabinet"></div>
    <!-- pagemed -->
</div>

{% endblock %}