<p class="lead">Dernier clic : confirmez !</p>  

Pour confirmer votre rendez-vous avec le Docteur {{doctor.nom}} le {{ day.date}} à {{ appointment.start }} entrez vos coordonnées :


<form name="confirmation-rv" id="confirmrv" class="input-group">
	<input type="text" name="lastname" placeholder="votre nom" class="form-control input-md" />
	<input type="text" name="firstname" placeholder="votre prénom" class="form-control input-md" />
	<input type="email" name="email" placeholder="votre email" class="form-control input-md" />
	<input type="tel" name="phone" placeholder="votre numéro de téléphone" class="form-control input-md" />

	   
	
	<button class="btn btn-lg btn-default" ng-click="doBack()" value="annuler"></button>
</form>

<button class="btn btn-lg btn-default">Confirmer le rendez-vous</button>

