<p class="lead">Dernier clic : confirmez !</p>  

Pour confirmer votre rendez-vous avec le Docteur {{doctor.nom}} le {{dayDate}} à {{ appointment.prettyTime }} entrez vos coordonnées :


<form name="confirmation-rv" id="confirmrv" class="input-group">
	<input type="text" name="lastname" placeholder="votre nom" class="form-control input-md" ng-model="lastname" />
	<input type="text" name="firstname" placeholder="votre prénom" class="form-control input-md" ng-model="firstname" />
	<input type="email" name="email" placeholder="votre email" class="form-control input-md" ng-model="email" />
	<input type="tel" name="phone" placeholder="votre numéro de téléphone" class="form-control input-md" ng-model="phone" />

	   
	
	<button class="btn btn-lg btn-default" ng-click="doBack()" value="annuler">Annuler</button>
	<button class="btn btn-lg btn-default" ng-click="saveRV()">Confirmer le rendez-vous</button>
</form>
<alert ng-show="errorEmpty" type="danger" close="hideErrors()">Veuillez renseigner tous les champs pour confirmer votre rendez-vous</alert>
<alert ng-show="errorEmail" type="danger" close="hideErrors()">Veuillez renseigner un e-mail valide pour confirmer votre rendez-vous</alert>
<alert ng-show="errorPhone" type="danger" close="hideErrors()">Veuillez renseigner un numéro de téléphone valide pour confirmer votre rendez-vous</alert>



