<form action="#recherche-ps.html" class="form-horizontal" ng-submit="checkPS()">          
  <div class="form-line"><select autofocus class="input-lg">
    <option>Médecin généraliste</option>line
    <option>Ophtalmologiste</option>
    <option>Dermatologue</option>
    <option>Gynécologue</option>
  </select></div>
  <div class="row">
    <div class=""><input type="text" placeholder="Votre localisation"  autocomplete="off" class="input-lg" /></div>
    <!-- <div id="localisation" class="btn btn-lg btn-default col-lg-2"><i class="fa fa-crosshairs fa-2x"></i></div> -->
  </div>
  <div class="form-line"><button class="btn btn-lg btn-default">Chercher un professionnel !</button></div>
</form>