
<div class="row">
    <h1 class="heading">RapiDocteur</h1>
    <p class="lead">Prenez un rendez-vous avec votre médecin en trois clics !</p>    
</div>


<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Les 
            <strong>médecins disponibles à Fontenilles, Labège, Seysses et Toulouse</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center presentation-doctor">
            <img class="img-responsive" src="img/cabinet1_o.jpg" alt="médecin généraliste seysses" />
            <h3>Cabinet médical à Seysses<br />
            <small>Dr BOUDOU-BATTISTI, Dr BOYES et Dr CALAS</small>
            </h3><br />
            <a href="#/seysses/cabinet-medical-seysses" class="btn btn-lg btn-default">Prendre rendez-vous</a>
        </div>
        <div class="box">
        <div class="col-sm-4 text-center presentation-doctor">
            <img class="img-responsive" src="img/bertucchi_o.jpg" alt="osteopathe toulouse bertucchi" />
            <h3>Y. BERTUCCHI, ostéopathe<br />à Toulouse</h3><br />
            <a href="#/toulouse/osteopathe-bertucchi" class="btn btn-lg btn-default">Prendre rendez-vous</a>
        </div>
        </div>
        <div class="col-sm-4 text-center presentation-doctor">
            <img class="img-responsive" src="img/cabinet2_o.jpg" alt="dentiste labège dr louw" />
            <h3>Cabinet de Dentistes à Labège<br />
            <small>Dr LEONELLI et Dr LOUW</small>
            </h3><br />
            <a href="/" class="btn btn-lg btn-default" disabled>Prendre rendez-vous</a>
        </div>               
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 text-center presentation-doctor">
        <img class="img-responsive" src="img/dieteticienne-tachier-fontenilles.jpg" alt="diéteticienne fontenilles mélanie tachier" />
        <h3>M. TACHIER, diététicienne<br />à Fontenilles</h3>
        <a href="#/fontenilles/dieteticien-tachier" class="btn btn-lg btn-default">Prendre rendez-vous</a>
    </div>
     
</div>
    
<section id="landing-chiffres" class="col-lg-12 text-center v-center">
    <span> Déjà <strong>{{ps}} professionnels de santé référencés sur RapiDocteur</strong></span><br />
    <span>& <strong>{{rv}}</strong> rendez-vous réservés !</span>
</section>
