{% extends '../../views/layout.html' %} {% block content %}

<div class="page-content" ng-controller="praticienCtrl">
       <nav class="navbar navbar-default navbar-fixed-top doctors-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="/img/logos/logo.png" class="img-responsive" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Partenaires</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Patients</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://blog.rapidocteur.fr">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://twitter.com/RapiDocteur">Twitter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/RapiDocteur">Facebook</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://plus.google.com/b/114510223929114221539/+RapidocteurFr/posts">Google+</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header id="header-doctor">
        <div doctor-map praticien="praticien"></div>
    </header>
    <div class="container" id="info-med">
        <div class="row">
            <div id="doctors-name" class="col-lg-5">
                <h1>{{ praticien.prenom }} {{ praticien.nom }}</h1>
                <h2 id="doctors-specialities">
                {% for specialite in praticien.Specialites %}
                    <span{% if loop.first %} class="first" {% endif %}>
                        {{ specialite.labelSpecialite }}
                    </span>
                {% endfor %}</h2>
            </div>
            <div id="doctors-location" class="col-lg-3">
                
                  {% for cabinet in praticien.Cabinets %}
                    <div class="row">
                        <div class="col-lg-3"><img src="/img/icons/pointer.png" /></div>
                        <div class="col-lg-9">
                            {{ cabinet.adresse }}
                            <br/>{{ cabinet.code_postal }} {{ cabinet.ville }}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div id="doctors-payment" class="col-lg-3">
                <div class="row">
                    <div class="col-lg-3"><img src="/img/icons/euro.png" />
                    </div>
                    <div class="col-lg-9">Paiements acceptés : Chèque et Espèces</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="page-med" style="border:1px solid purple;">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div id="act-choice" class="col-lg-12" style="border:1px solid pink;">
                        <p class="doctors-choicespan">Quel est le motif de votre venue ?</p>
                        <select id="doctors-soflow" class="motif-consult" ng-change="updateAvailableAppointments(doctor)" ng-model="doctor.selectedAct" ng-options="act.labelActe for act in doctor.acts"></select>

                        <div id="absences" ng-repeat="abs in doctor.absences">
                            <p><strong>Remplacé par {{ abs.nomRemplacant }} du {{ abs.dateDebut }} au {{ abs.dateFin }}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12" style="border:1px solid orange;">
                        <div class="presentation-doc">
                            <span>En savoir plus :</span>
                            <!-- @Nicolas : texte description, est-ce prévu en bd ? -->
                            <p>Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt..
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-7">
                <div id="doctors-disponibilites" class="row" style="border:1px solid blue;">
                    <p class="lead">Choisissez le motif et l'horaire du rendez-vous</p>
                    <div>
                        <table id="agenda-med">
                            <tr>
                                <th class="arrow"> <a class="carousel_prev carousel_left" ng-click="seePrevious(doctor)" ng-disabled="doctor.previousDisabled"> prev </a>
                                </th>
                                <th class="day" ng-repeat="day in doctor.availabilities| limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">{{ day.date }}</th>
                                <th class="arrow">
                                    <a class="carousel_next carousel_right" href="" rel="carousel-1" ng-click="seeNext(doctor)" ng-disabled="doctor.nextDisabled">next</a>
                                </th>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="appointments" ng-repeat="day in doctor.availabilities | limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">
                                    <div ng-repeat="c in day.appointments | limitTo:doctor.showLimit" ng-class="{ disabled: c.length == 0}">
                                        <a href="" class="availableAppoint" ng-click="submitRV(doctor, day.date, c)">{{ c.prettyTime }}</a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-show="doctor.showMoreVisible">
                                <td></td>
                                <td colspan="7" class="showMoreLess"><a href="" ng-click="showMore(doctor)">Voir tous les horaires disponibles</a>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-show="doctor.showLessVisible">
                                <td></td>
                                <td colspan="7" class="showMoreLess"><a href="" ng-click="showLess(doctor)">Réduire</a>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- disponibilités -->
            </div>
        </div>
        <!-- row pagemed -->
    </div>
    <!-- pagemed -->
</div>

{% endblock %}