    <nav ng-include="'app/partials/header_index.html'" class="navbar-default navbar-static-top nav-index"></nav>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><h1>Des difficultés pour obtenir un rendez-vous médical ?<br /><span class="lead-small">RAPIDOCTEUR, votre rendez-vous en 3 clics et 24h/24 !</span></h1></div>
                               
                <a href="#/#professionnels" class="btn btn-lg btn-primary">Je prends rendez-vous maintenant !</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="professionnels">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Les derniers professionnels disponibles à Fontenilles, Saint Alban et Toulouse qui nous ont rejoint</h2>
                    <!-- <span class="section-subheading text-muted">RAPIDOCTEUR simplifie la <strong class="nobold">prise de rendez-vous médicaux</strong>.<br />Choisissez votre professionnels et prenez rendez-vous en moins de cinq minutes, à n'importe quel moment de la journée, depuis votre ordinateur ou votre smartphone !</span> -->
                    <h3>Faites votre premier clic :</h3>                    
                </div>
            </div>           
        </div>
    </section>
    <section id="team" class="bg-light-gray">
        <div class="container">            
            <div class="row">
                <div class="col-sm-6">
                    <div class="carte-pro">                        
                        <div class="col-md-3 col-xs-3">
                            <img src="img/pro/youri-bertucchi_2.jpg" class="img-responsive img-circle" alt="Bertucchi ostéopathe toulouse" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3>Ostéopathe</h3>
                            <h4>Youri Bertucchi</h4>
                            <p class="text-muted">11 place Lafourcade - 31400 <strong>Toulouse</strong></p>
                            <a href="#/toulouse/osteopathe-bertucchi" class="btn btn-lg btn-primary prendrerv ">Prendre rendez-vous</a>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="carte-pro">
                        <div class="col-md-3 col-xs-3">
                            <img src="img/pro/frederic-guerri-dieteticien.png" class="img-responsive img-circle" alt="Frédéric Guerri diététicien nutritionniste fontenilles" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3 class="title-smaller">Nutritionniste diététicien</h3>
                            <h4>Frédéric Guerri</h4>
                            <p class="text-muted">1 lot le village - 31470 <strong>Fontenilles</strong></p>
                            <a href="#/fontenilles/dieteticien-guerri" class="btn btn-lg btn-primary prendrerv ">Prendre rendez-vous</a>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="carte-pro">
                        <div class="col-md-3 col-xs-3">
                            <img src="" class="img-responsive img-circle" alt="Nathalie Fragnier ostéopathe D.O T.O Saint Alban" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3 class="title-smaller">Ostéopathe</h3>
                            <h4>Nathalie Fragnier</h4>
                            <p class="text-muted">41, av. Léon Jouhaux - 31140 <strong>Saint Alban</strong></p>
                            <a href="#/saint-alban/osteopathe-fragnier" class="btn btn-lg btn-primary prendrerv">Prendre rendez-vous</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="carte-pro">
                        <div class="col-md-3 col-xs-3">
                            <img src="" class="img-responsive img-circle" alt="médecin généraliste seysses" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3 class="title-smaller">Médecin généraliste</h3>
                            <h4>Cabinet médical</h4>
                            <p class="text-muted">60 route d'Ox - 31600 <strong>Seysses</strong></p>
                            <a href="#/seysses/medecins-generalistes" class="btn btn-lg btn-primary prendrerv">Prendre rendez-vous</a>
                        </div>
                    </div>
                    <div class="carte-pro">
                        <div class="col-md-3 col-xs-3">
                            <img src="img/pro/bec_1.jpg" class="img-responsive img-circle" alt="diéteticienne sport labège" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3 class="title-smaller">Diététicienne du sport</h3>
                            <h4>Marjorie Bec</h4>
                            <p class="text-muted">6 rue Autan - 31670 <strong>Labège</strong></p>
                            <a href="#/labege/dieteticienne-bec" class="btn btn-lg btn-primary prendrerv">Prendre rendez-vous</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="carte-pro">
                        <div class="col-md-3 col-xs-3">
                            <img src="img/pro/bec_circle.png" class="img-responsive img-circle" alt="diéteticienne sport labège" />
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <h3 class="title-smaller">Diététicienne du sport</h3>
                            <h4>Marjorie Bec</h4>
                            <p class="text-muted">6 rue Autan - 31670 <strong>Labège</strong></p>
                            <a href="#/labege/dieteticienne-bec" class="btn btn-lg btn-primary prendrerv">Prendre rendez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="landing-chiffres">
        <p>Déjà plus de {{rv}} rendez-vous réservés !</p>
    </section>       

    