
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="img/logo_rapidocteur-02.png" alt="logo rapidocteur" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="idSocial">
            <ul class="nav navbar-nav navbar-right list-inline ">
                <li><a href="https://twitter.com/RapiDocteur" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/RapiDocteur" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/b/114510223929114221539/+RapidocteurFr/posts" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a href="mailto:hello@rapidocteur.fr"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
