<nav ng-include="'app/partials/header_index.html'" class="navbar-default navbar-static-top nav-index"></nav>
<div class="container" id="page-med">
    <div class="row">
        <div class="col-md-6 presentation-doc">
            <h1 class="heading">Nathalie Fragnier</h1>
            <p class="lead">Ostéopathe D.O. T.O.</p>
            <!-- <img class="img-responsive" src="img/dieteticienne-tachier-fontenilles.jpg" width="400px" alt="diéteticienne nutritionniste fontenilles" /> -->
            <h1 id="plus-medecin">En savoir plus sur Nathalie Fragnier</h1>
            <p>
            J'ai obtenu un diplôme d'Ostéopathe D.O. T.O à l'issu d'une formation initiale en 6 ans à temps plein au sein de l'Institut Toulousain d'Ostéopathie (ITO), école agréée par le Ministère de la Santé, de la Jeunesse et des Sports.<br /><br />Je propose des consultations d'ostéopathie pour adultes, enfants, femmes enceintes et seniors dans mon cabinet. 
                <ul>
                    <li>Titre d'Ostéopathe délivré à l'issu de :
                        <ul>
                            <li>Obtention du D.O.</li>
                            <li>Formations post-graduées :</li>
                            <ul>
                                <li>certificat de posturologie</li>
                                <li>attestation d'ostéopathie pédiatrique</li>
                                <li>attestation d'ostéopathie du sport</li>
                            </ul>
                            <li>Élaboration et soutenance du mémoire : "Intérêt d'un traitement ostéopathique chez les personnes atteintes du syndrome douloureux régional complexe (Algoneurodystrophie) de l'épaule et/ou de la main"</li>
                        </ul>
                    </li>                    
                </ul>
            </p>
        </div>
            
        <div class="col-md-6 info-doc">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2883.939767048848!2d1.3958378000000002!3d43.711800800000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aea67a6d412939%3A0x82a49f2b75bbf121!2s41+Avenue+L%C3%A9on+Jouhaux%2C+31140+Saint-Alban!5e0!3m2!1sfr!2sfr!4v1415032925637" width="400" height="300" frameborder="0" style="border:0"></iframe>
            
            <p>41, avenue Léon Jouhaux - 31 140 Saint Alban</p>
            <p><span class="listpaiyment">Moyens de paiement :<span></p>
                <ul class="paymentway">
                    <li><img src="img/cash.png" /> espèces acceptées</li>
                    <li><img src="img/check.png" /> chèques acceptés</li>
                </ul>
        </div>
    </div>
    <p class="lead">2ème clic : choisissez le motif et l'horaire du rendez-vous</p>
    <div ng-controller="CabinetCtrl">
    <div id="disponibilites" class="row" ng-repeat="doctor in doctors">        
        <div id="act-choice" class="col-lg-3">
            <p><strong>{{ doctor.nom }} {{ doctor.prenom}} </strong></p>                
            <p>Quel est le motif de votre venue ?</p>            

            <select class="motif-consult" ng-change="updateAvailableAppointments(doctor)" ng-model="doctor.selectedAct" ng-options="act.labelActe for act in doctor.acts"></select>

            <p class="indication">Pour les consultations pédiatriques des <span class="important">bébés de moins de 6 mois</span> : pensez à apporter le <span class="important">certificat de non contre-indication à l’ostéopathie</span>. Il est délivré par votre médécin généraliste ou pédiatre.</p>

            <div id="absences" class="row" ng-repeat="abs in doctor.absences">
                <p><strong>Remplacé par {{ abs.nomRemplacant }} du {{ abs.dateDebut }} au {{ abs.dateFin }}</strong></p>
            </div>
        </div>
        <button class="col-lg-1 btn btn-lg btn-primary navigationArrow" ng-click="seePrevious(doctor)" ng-disabled="doctor.previousDisabled"> < </button>
        <table class="col-lg-6" id="agenda-med">
            <tr>
                <th ng-repeat="day in doctor.availabilities| limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">{{ day.date }}</th>
            </tr>                
            <tr>
                <td class="appointments" ng-repeat="day in doctor.availabilities | limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">
                    <div ng-repeat="c in day.appointments | limitTo:doctor.showLimit" ng-class="{ disabled: c.length == 0}">
                        <a href="" class="availableAppoint" ng-click="submitRV(doctor, day.date, c)">{{ c.prettyTime }}</a>
                    </div>                        
                </td>                
            </tr>
            <tr ng-show="doctor.showMoreVisible">
                <td colspan="7" class="showMoreLess"><a href="" ng-click="showMore(doctor)">Voir plus</a></td>
            </tr>
            <tr ng-show="doctor.showLessVisible">
                <td colspan="7" class="showMoreLess"><a href="" ng-click="showLess(doctor)">Réduire</a></td>
            </tr>
        </table>       
        <button class="col-lg-1 btn btn-lg btn-primary navigationArrow" ng-click="seeNext(doctor)" ng-disabled="doctor.nextDisabled"> > </button>
    </div>
    <div>
</div>   
    
    