{% extends '../../views/layout.html' %} {% block content %}

<div ng-controller="homeCtrl">
    <!-- Header -->
    <header id="header-main">
        <div class="intro-text">
            <div class="intro-lead-in">Recherchez un spécialiste à Toulouse et ses environs</div>
            <div class="intro-heading">Rapidocteur, votre rendez-vous en 3 clics et 24h/24 !</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div search-doctor praticien="praticien"></div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-l">Ok</button>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="intro-heading">Déjà plus de 2 050 rendez-vous réservés !</div>
        </div>
    </header>

    <!-- Carousel -->
    <section id="carousel">
        <div class="inner">
            <div class="example horizontal">
                <div class="carousel slide" data-ride="carousel">
                    <a class="carousel_prev carousel_left" href="#myCarousel" role="button" data-slide="prev">prev</a>
                    <div class="carousel-inner" role="listbox">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                <a href="#"><img src="img/carousel/doctor-beach-1.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                              <div class="item">
                                <a href="#"><img src="img/carousel/doctor-beach-2.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                              <div class="item">
                                <a href="#"><img src="img/carousel/doctor-beach-3.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                              <div class="item">
                                <a href="#"><img src="img/carousel/doctor-beach-1.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                              <div class="item">
                                <a href="#"><img src="img/carousel/doctor-beach-2.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                              <div class="item">
                                <a href="#"><img src="img/carousel/doctor-beach-3.jpg" alt="Doctor Beach" width="340" height="125"></a>
                              </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel_next carousel_right" href="#myCarousel" role="button" data-slide="next">next</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact section -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez-nous</h2>
                    <h3 class="section-subheading text-muted">Une question ? Un petit mot à nous laisser ? N'hésitez pas à nous écrire.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Votre nom *" id="name" required data-validation-required-message="Entrez votre nom.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Votre email *" id="email" required data-validation-required-message="Entrez votre adresse e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Votre numéro de téléphone *" id="phone" data-validation-required-message="Entrez un numéro de téléphone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Votre message *" id="message" required data-validation-required-message="Entrez un message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}