{% extends '../../views/layout.html' %} {% block content %}

<div ng-controller="homeCtrl" id="page-wrapper">
    <header id="MainHeader" class="chapter height100">
        <div class="fullscreen-flexslider-ken-burns description-middle">
            <ul class="slides" data-scale="1.2" data-transform-duration="30s" data-animation="kb" data-translate="0px">
                <li>
                    <img src="images/header-bg.png" alt="preview">

                    <div class="overlay"></div>
                    <div class="caption">
                        <span class="middle">
                            <span class="title">Recherchez un spécialiste à <span class="color-font">Toulouse</span> et ses environs</span>
                            <span class="tags">Rapidocteur, votre rendez-vous en 3 clics et 24h/24 !</span> 
                            <div class="container">
                                <a href="" class="btn btn-color btn-scroll">Prendre rendez-vous</a>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>        
        </div>
    </header>
    <div class="color-row">
    <div class="container text-center padding-small">
        <h4>Go on, <span class="light">contact us!</span></h4>

        <a href="01-contact.html" class="btn btn-white btn-lg btn-top-margin">Read More</a>
    </div>
    </div>

    <div class="container">

    </div>

    <div class="container padding-small text-center">
    <h3><span class="color-font">RAPIDOCTEUR</span> en chiffres</h3>

    <div class="row padding-top-small">        
        <div class="col-md-4 col-sm-4">
            <div class="graph-percent pie-chart"
                 data-percent="25" data-barcolor="#8dc153"
                 data-scalecolor="false" data-linecap="butt" data-linewidth="20" data-size="180"
                 data-animate="1000">
                <div class="border-chart-outer">
                    <div class="border-chart"></div>
                </div>
                <span class="text"><strong>4 927</strong></span>
            </div>
            <h5>Rendez-vous réservés</h5>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="graph-percent pie-chart"
                 data-percent="50" data-barcolor="#8dc153"
                 data-scalecolor="false" data-linecap="butt" data-linewidth="20" data-size="180"
                 data-animate="1000">
                <div class="border-chart-outer">
                    <div class="border-chart"></div>
                </div>
                <span class="text"><strong>1 657</strong></span>
            </div>
            <h5>Patients</h5>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="graph-percent pie-chart"
                 data-percent="100" data-barcolor="#8dc153"
                 data-scalecolor="false" data-linecap="butt" data-linewidth="20" data-size="180"
                 data-animate="1000">
                <div class="border-chart-outer">
                    <div class="border-chart"></div>
                </div>
                <span class="text"><strong>100%</strong></span>
            </div>
            <h5>Made in Toulouse</h5>
        </div>
    </div>
    </div>

    <div class="dark-gray-row2">
    <div class="container text-center padding-small">
        <h4>Ils <span class="color-font">parlent</span> de nous</h4>
    </div>
    <div class="container">
        <div class="flexCarousel">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="http://blog.rapidocteur.fr/france-3-rapidocteur-revolutionne-le-rendez-vous-medical/"><img src="images/logos/radio-rtl-rapidocteur-rendez-vous-en-ligne-medicaux-820x400.jpg" alt="RTL"></a>
                    </li>
                    <li>
                        <a href="http://blog.rapidocteur.fr/rtl-rendez-vous-medical-en-ligne/"><img src="images/logos/france-3-rapidocteur-revolutionne-rdv-medical-en-ligne.png" alt="France 3"></a>
                    </li>
                    <li>
                        <a href="http://blog.rapidocteur.fr/simplifier-la-prise-de-rendez-vous/"><img src="images/logos/objectif-news-rapidocteur-simplifier-rendez-vous-en-ligne-medicaux-820x400.jpg" alt="Objectif News"></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <!-- / flexCarousel -->
    </div>
    </div>

    <div class="container">

    </div>          
</div>
{% endblock %}