<!-- résultat de recherche de professionnels de santé -->

<div class="container">
  <div class="row">

    <div class="resultat-ps col-lg-offset-2 col-lg-3" ng-repeat="doctor in doctors.output | limitTo:quantity">
      <div><img src="img/dr-durant.jpg" alt="Photo docteur Durant, généraliste" style="height:150px;"></div>
      <div><p>Dr {{doctor.nom}}, médecin généraliste</p></div>
      <div class="adresse-ps">{{doctor.adresse}}, {{doctor.code_postal}} {{doctor.ville}}</div>
      <div class="info-generale">Accès handicapé - Carte vitale - Secteur 1</div>
      <div class="dispo-ps">
        <label>Horaires disponibles :</label>
        <form name="reservation" action="#/confirmation-rendezvous.">
          <ul class="list-unstyled">
            <li>12/08</li>                        
            <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1208-0915">09:15</label>
            <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1208-1530">15:30</label>

            <li>15/08</li>
            <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="1508-0845">08:45</label>
            <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="1508-1200">12:00</label>
          </ul>
          <button class="btn btn-lg btn-default">Prendre rendez-vous</button>
        </form>
      </div>  
    </div>


  </div>
</div>