<div class="container">
    <div class="row">
        <h1 class="heading">Mélanie Tachier Montaut</h1>
        <p class="lead">Diététicienne nutritionniste</p>
        
        <div class="col-md-6 presentation-doc">
            <img class="img-responsive" src="img/dieteticienne-tachier-fontenilles.jpg" width="400px" alt="diéteticienne nutritionniste fontenilles" />
            <p class="description-pro">Diététicienne Nutritionniste, je vous accueille dans mon cabinet, situé à Fontenilles, au sein d'une structure pluridisciplinaire familiale.<br /><br />
            Vous cherchez à équilibrer votre alimentation ? <br />
            Je vous propose une prise en charge nutritionnelleadaptée et personnalisée, en tenant compte de votre alimentation, votre santé (stress, fatigue, pathologies avérées) et de votre rythme de vie (travail, vie quotidienne, activité physique).<br /><br />
            En tant que professionnelle de la santé mon objectif est d'équilibrer votre alimentation. Il ne s'agit pas de manger moins mais de manger mieux et de bien répartir l'apport énergétique quotidien. Vous consommez de tout, en quantités confortables et consciencieusement étudiées afin de perdre du poids progressivement.<br /><br />
            Rapidement, vous sentirez une nette amélioration de votre tonus, du sommeil, de votre transit ainsi qu'une diminution des fringales et des envies de sucre en fin de journée.</p>
        </div>        
        <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2891.7191192049468!2d1.1933424!3d43.5498966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a94b5e06f386e1%3A0xe762b34a6bfe6235!2s9+Chemin+de+la+Poumayre%2C+31470+Fontenilles!5e0!3m2!1sfr!2sfr!4v1413542934721" width="350" height="200" frameborder="0" style="border:0"></iframe></div>
    </div>
    <div id="disponibilites" class="row" ng-repeat="doctor in doctors">        
            <div id="act-choice" class="col-md-3">
                <p><strong> Dr {{ doctor.nom }} {{ doctor.prenom}} </strong></p>
                <p>Quel motif ?</p>
                <select class="motif-consult" ng-model="acte">
                    <option value="premier-rv" selected="selected">Premier rendez-vous (1h00)</option>
                    <option value="suivi">Suivi (30 minutes)</option>
                </select>

            </div>
            <table id="agenda-med">
                <tr>
                    <th ng-repeat="day in doctor.availabilities| limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">{{ day.date }}</th>
                </tr>                
                <tr>
                    <td ng-repeat="day in doctor.availabilities | limitTo:quantityWeek" ng-class="{ disabled: day.appointments.length == 0}">
                        <div ng-repeat="c in day.appointments | limitTo:quantityApp" ng-class="{ disabled: c.length == 0}">
                            <a href="" class="availableAppoint" ng-click="submitRV(doctor, day, c, acte)">{{ c.prettyTime }}</a>
                        </div>                        
                    </td>                
                </tr>
            </table>
        
    </div>
</div>
