<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Rapidocteur - Prenez votre RDV médical en 3 clics</title>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body id="page-top" class="index" ng-app="app">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img src="img/logos/logo.png" class="img-responsive" alt="RAPIDOCTEUR prise de rendez-vous médicaux en ligne">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/partenaires">Partenaires</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/patients">Patients</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://blog.rapidocteur.fr">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://twitter.com/RapiDocteur" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/RapiDocteur" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://plus.google.com/b/114510223929114221539/+RapidocteurFr/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div style="border:1px solid red;">    
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; RapiDocteur 2015, made with &#10084; in Toulouse</span>
                </div>
                <div class="col-md-3">
                    <span>Retrouvez RAPIDOCTEUR sur</span>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/rapidocteur"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/RapiDocteur"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/b/114510223929114221539/+RapidocteurFr/"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li><a href="/mentions-legales">Mentions légales</a></li>
                        <li><a href="#">Conditions d'utilisation</a></li>
                        <li><a href="#">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>

    <script src="/components/angular/angular.js" type="text/javascript"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="/components/ol3/dist/ol.js" type="text/javascript"></script>
    <script src="/components/js-data/dist/js-data.min.js" type="text/javascript"></script>
    <script src="/components/js-data-angular/dist/js-data-angular.min.js" type="text/javascript"></script>
    <script src="/js/angular-app.js" type="text/javascript"></script>
    <script src="/js/angular.js-data.conf.js" type="text/javascript"></script>
    <script src="/js/services/get.services.js" type="text/javascript"></script>
    <script src="/js/services/post.services.js" type="text/javascript"></script>
    <script src="/js/controllers/angular.home.ctrl.js" type="text/javascript"></script>
    <script src="/js/controllers/angular.cabinet.ctrl.js" type="text/javascript"></script>
    <script src="/js/directives/cabinet-map/cabinet-map.directive.js" type="text/javascript"></script>
    <script src="/js/directives/praticien-reservation-form/praticien-reservation-form.directive.js" type="text/javascript"></script>
    <script src="/js/directives/confirmation-rendez-vous/confirmation-rendez-vous.directive.js" type="text/javascript"></script>
    <script src="/js/directives/search-doctor/search-doctor.directive.js" type="text/javascript"></script>
</body>

</html>